/* .wrapper {
  background-color: #d6b7a6ee;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
/* .card {
  width: 300px;
  text-align: center;

  border: 2px solid #272727;
  margin: 3rem;
} */
